h1{
    font-size: 60px;
    text-align: center;
}

inputField{
    padding: 10px;
    background-color: #045d2b6d;
}

body{
    font-family: 'Cinzel', serif;
    background-color: #7EBEC2;
    background-image: url("https://cdn.glitch.global/54e32742-2a00-4459-b659-b97d6d51c2dc/life's%20too%20short.png?v=1691777671695");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: center;
}

.header, .container{
    display: flex;
    justify-content: center;
}

button{
    padding: 10px;
    background-color: #6dd8b6c3;
    font-size: 20px;
    margin: 5px;
}

.toDoAdded{
    width: 40%;
    height: 50px;
    background-color: white;
    list-style: none;
    font-size: 20px;
    text-align: center;
    background-color: #e8e6e2;
    border: 1px solid grey;
    margin: 3px;
    text-decoration: underline;
}

.toDoContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.toDoCompleted{
    background-color: rgb(217, 255, 192);
    font-weight: bold;
    text-decoration: line-through;
    transition: all 1s ease;
}

@media all and (max-width:800px) {
    h1{
        font-size:40px;
    }
}

@media all and (max-width:500px){
    h1{
        font-size: 30px;
    }

}